body{
	background-image:url("../images/dcs3.jpg");
	background-color:white;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
}
.loginfront {
  background: green none repeat scroll 0 0 !important;
  border-radius: 10px;
  color: white;
  margin: 15% 0 0 !important;
  padding: 30px 0 !important;
  opacity:0.9;
}

.loginright form input[type="text"],.loginright form input[type="password"]{
	height:20px;
	margin:10px 0;
	float:right;
	background: #ffffff;
	width:95%;
}
.loginright form input[type="password"]{

}
.loginright div.forgot{
	color:#24668d;
	float:left;
	margin:10px 0 0 0;
	padding:6px 0 0 0;
	cursor:pointer;
}
.loginright div.daftarsekolah{
	background: none repeat scroll 0 0 yellow;
	border-radius: 5px;
	color: #000000;
	float: right;
	height: 29px;
	margin: 20px 0 0;
	padding: 22px 10px 10px;
	text-align: center;
	vertical-align: middle;
	width: 92%;
	cursor:pointer;
	opacity:0.7;
}
.loginright form input[type="submit"] {
  background: yellow none repeat scroll 0 0;
  border: 1px solid rgba(0, 0, 0, 0);
  bottom: 0;
  color: #000000;
  font-weight: bold;
  height: 58px;
  margin-top: 63px;
  opacity: 0.7;
  text-shadow: none;
  text-transform: uppercase;
  width: 100%;
}
.loginright form   input[type="submit"]:hover,.loginright div.daftarsekolah:hover{
	opacity:1;
}
.loginright form{
	padding:20px;
}
.loginfront  h1{
text-align:right;
text-shadow:none;
}
h1,h2,h3,h4,h5,h6,p,a,.loginright div.forgot{text-shadow:none;color:#ffffff;}
.loginfront  h1 img{
	position: relative;
top: 2px;

}
.loginfront  div.divdesc{
	font-size: 14px;
	margin: 0px 0 0;
	padding: 10px 0;
text-align:right;
}
.loginfront  p{
text-align:right;
color:#ffffff;
}
.loginright{
	background-color: green;
	border-radius: 3px;
	box-shadow: 0 0 100px white;
	height: 300px;
}
.two-third {
  width: 62.8% !important;
}
#expand-toggle .expand {
  font-size: 12px;
  
}
#expand-toggle  img{
	float:right;
}
#expand-toggle  {
background: none; 
border-bottom: none;
border-top: none;
margin:0;
padding:0;
}
